<p>activity works!</p>

<div class="p-grid">

    <div class="p-col-2">

      <p-card header="Activity" [style]="{width: '200px'}"> 
        <p-button label="Transform XML"   styleClass="ui-button-warning" (onClick)="onTransformXMLtoActivity()"></p-button>
        <br><br>
        <p-button label="Power Activity"  styleClass="ui-button-warning" (onClick)="onTransformActivityToPowerActivity()"></p-button>
        <br><br>
        <p-button label="Statistics" styleClass="ui-button-warning" (onClick)="onTransformPowerActivityToStatistics()"></p-button>
      </p-card>
    </div>

    <div class="p-col-10">

        
        <p-card header="Athlete" > 
        <form [formGroup]="AthleteForm" (ngSubmit)="onSubmit()" >
           <label>
               Name: <input type="text" formControlName="name">
           </label>

           <label>
              SurName: <input type="text" formControlName="surname">
           </label>

           <label>
              Mass: <input type="text" formControlName="mass">
           </label>

           <label>
              Hearth Max: <input type="text" formControlName="hearthmax">
           </label>
   
           <br><br>

           <p-button type="button" label="Sauvegarder" class="ui-button-rounded" styleClass="ui-button-warning" (click)="createOneAthlete()"></p-button>

        </form>
        </p-card>

        <br><br>

        <p-card header="External Condition" >
        <form [formGroup]="ExternalConditionForm" (ngSubmit)="onSubmit()">
           <label>
               Pressure ATM: <input type="text" formControlName="pressureatm">
           </label>

           <label>
              Temperature: <input type="text" formControlName="temperature">
           </label>

           <label>
              Humidity: <input type="text" formControlName="humidity">
           </label>

           <label>
              Speed Wind: <input type="text" formControlName="speedwind">
           </label>
   
           <br><br>

           <p-button type="button" label="Sauvegarder" class="ui-button-rounded" styleClass="ui-button-warning" (click)="createOneExternalCondition()"></p-button>

        </form>
        </p-card>

    </div>    
<!--
    <div class="p-col-2"></div>
-->
</div>

