<div class="p-grid">

  
    <div class="p-col-12">

      <br><br>

      <p-table class="p-grid border-container ombres-container">
         <ng-template pTemplate="header">
             <tr>
                 <th>Account Power Activity</th>    
             </tr>
         </ng-template>
     </p-table>
 
     <br><br>
        
      <p-card header="Athlete" > 
        <form [formGroup]="AthleteForm" (ngSubmit)="onSubmit()" >
           <label>
               Name: <input type="text" formControlName="name">
           </label>

           <label>
              SurName: <input type="text" formControlName="surname">
           </label>

           <label>
              Mass: <input type="text" formControlName="mass">
           </label>

           <label>
              Hearth Max: <input type="text" formControlName="hearthmax">
           </label>
   
           <br><br>
        </form>
      </p-card>

    </div>    
</div>

