<ng-container *ngIf="statisticsPowerActivity">

<div class="p-grid">



<div class="p-col-2" >
    <h2>Statistics Power Activity  {{statisticsPowerActivity.length}}</h2>
    <p-card header="Athlete" [style]="{width: '200px'}" #started *ngIf="athlete">
        <b>{{athlete.name}}</b>
        <br>
        <b>{{athlete.surname}}</b>
        <br>
        <b>{{athlete.mass}}</b> kg - HRmax : <b>{{athlete.hearthmax}}</b> bpm
    </p-card>
    <br><br>
    <p-card header="Prediction" [style]="{width: '200px'}" #started *ngIf="prediction">
         Optimal Power <b>{{prediction.powerOptimal}}</b>
        <br>
        Optimal Pace <b>{{prediction.paceOptimal}}</b>
        <br>
        Easy Pace <b>{{prediction.paceEasy}}</b>
        <br>
        Threshold Pace <b>{{prediction.paceThreshold}}</b>
        <br>
        Min <b>{{prediction.paceMin}}</b>
        <br>
        Max <b>{{prediction.paceMax}}</b>
        <br>
        <br>
        Marathon <b>{{prediction.timeForMarathon}}</b>
        <br>
        Pace <b>{{prediction.paceMarathon}}</b>
        <br>
        <br>
        Half Marathon <b>{{prediction.timeForHalfMarathon}}</b>
        <br>
        Pace <b>{{prediction.paceHalfMarathon}}</b>
        <br>
        <br>
        10 km <b>{{prediction.timeForTenKm}}</b>
        <br>
        Pace <b>{{prediction.paceTenKm}}</b>
     </p-card>
</div>



<div class="p-col-10">


<div class="border-container ombres-container" >

<p-table [value]="statisticsPowerActivity" [scrollable]="true" scrollHeight="400px" class="ombres-container">

    <ng-template pTemplate="header">
        <tr>
            <th> Statistics Power Activity</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-statisticsPowerActivity >
        <tr [routerLink]="['/poweractivity',statisticsPowerActivity.idpoweractivity]">
            <td>
                <div class="p-col">
                    <p-card [style]="{width: '200px'}">
                        <div> <h4>{{statisticsPowerActivity.date}}</h4></div>
                    </p-card>
                </div>
            </td>
            <td>
                <div class="p-col">
                    <p-card header="Power Average" [style]="{width: '200px'}">
                        <div> <h4>{{statisticsPowerActivity.poweraverage}}</h4></div>
                    </p-card>
                </div>
            </td>
            <td>
                <div class="p-col">
                    <p-card header="First Ecart" [style]="{width: '200px'}">
                        <div> <h4>{{statisticsPowerActivity.powerfirstquartil}} </h4></div>
                        <div> <h4>{{statisticsPowerActivity.deltafirstquartil}} </h4></div>
                    </p-card>
                </div>
            </td>   
            <td>
                <div class="p-col">
                    <p-card header="Power Median" [style]="{width: '200px'}">
                        <div> <h4>{{statisticsPowerActivity.powermedian}}</h4></div>
                    </p-card>
                </div>
            <td>
                <div class="p-col">
                    <p-card header="Deviation" [style]="{width: '200px'}">
                        <div> <h4>{{statisticsPowerActivity.deviation}}</h4></div>
                    </p-card>
                </div>
            </td>
             <td>
                <div class="p-col">
                    <p-card header="Third Ecart" [style]="{width: '200px'}">
                        <div> <h4>{{statisticsPowerActivity.powerthirdquartil}}</h4></div>
                        <div> <h4>{{statisticsPowerActivity.deltathirdquartil}}</h4></div>
                    </p-card>
                </div>
            </td>
        </tr>
    </ng-template>

</p-table>

</div>

<br><br>

<div class="border-container ombres-container" >   
    <p-chart type="bubble" [data]="plotPowerMedianVersusDeviation" [options]="optionsPowerMedianVersusDeviation"></p-chart>
</div>

</div>


</div>

</ng-container>
