.center-spinner {
    margin: 0 auto;
    width: 100px;
}

td {
    text-align: center;
}

p-card div {
    text-align: center
}

p-table tr th {
    background-color:rgb(255, 185, 79)
}

.border-container {
    border:1px solid #000;
}

.ombres-container {
    box-shadow: inset 0 0 1em grey, 0 0 2em black;
}