<p>run works!</p>

<ng-container *ngIf="showSpinner ;else started">
      <div class="center-spinner">
          <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="8" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
      </div>
  </ng-container>


<ng-container #started *ngIf="powerActivityLines">
{{powerActivityLines.length}}
<br>

<p-table [value]="powerActivityLines" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
        <tr>
            <th>Power</th>
            <th>Speed</th>
            <th>Hearthrate</th>
            <th>Distance</th>
            <th>Time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-powerActivityLine>
        <tr>
            <td>{{powerActivityLine.power}} </td>
            <td>{{powerActivityLine.speed}} </td>
            <td>{{powerActivityLine.hearthrate}} </td>
            <td>{{powerActivityLine.distance}} </td>
            <td>{{powerActivityLine.timezone}} </td>
        </tr>
    </ng-template>
</p-table>

<p-chart type="line" [data]="plotPowerVersusTime"  ></p-chart>

</ng-container>
